[Unit]
Description=weather logger service
After=network.target

[Service]
Type=Simple
User=weather
ExecStart=/usr/bin/python /home/weather/BMP180weather.py
Restart=on-abort

[Install]
WanterBy=multi-user.target
